<%- include('./_partials/_head.ejs') %>

<section class="container">
  <div class="text-center mt-5">
    <h2 class="mb-0">404</h2>
    <h5>Page not found</h5>
  </div>
</section>
<%- include('./_partials/_footer.ejs') %>
